<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.airlineticket_idea.mapper.AirlineMapper">

    <resultMap id="BaseResultMap" type="org.airlineticket_idea.pojo.Airline">
            <id property="airlineId" column="airline_id" />
            <result property="airplaneId" column="airplane_id" />
            <result property="arrivalAirportId" column="arrival_airport_id" />
            <result property="departureAirportId" column="departure_airport_id" />
            <result property="boardingGate" column="boarding_gate" />
            <result property="price" column="price" />
            <result property="departureTime" column="departure_time" />
            <result property="arrivalTime" column="arrival_time" />
            <result property="date" column="date" />
            <result property="firstSeat" column="first_seat" />
            <result property="secondSeat" column="second_seat" />
            <result property="thirdSeat" column="third_seat" />
            <result property="duration" column="duration" />
        <result property="departure" column="departure"/>
        <result property="arrival" column="arrival"/>
    </resultMap>

    <sql id="Base_Column_List">
        airline_id,airplane_id,arrival_airport_id,departure_airport_id,boarding_gate,price,
        departure_time,arrival_time,date,first_seat,second_seat,
        third_seat,duration,departure,arrival
    </sql>
<select id="selectAirlineListWithAirport" resultType="org.airlineticket_idea.pojo.vo.AirlineVO">
SELECT   a.*,
       dep.airport_name AS departure_airport_name,
       arr.airport_name AS arrival_airport_name,
       dep.address AS departure_airport_address,
       arr.address AS arrival_airport_address,
       dep.phone AS departure_airport_phone,
       arr.phone AS arrival_airport_phone
FROM airline a
         LEFT JOIN airport dep ON a.departure_airport_id = dep.airport_id
         LEFT JOIN airport arr ON a.arrival_airport_id = arr.airport_id
    ${ew.customSqlSegment}
</select>

    <select id="selectAirlineListWithPage" resultType="org.airlineticket_idea.pojo.vo.AirlineVO">
        SELECT
            a.airline_id AS airlineId,
            a.airplane_id AS airplaneId,
            a.arrival_airport_id AS arrivalAirportId,
            a.departure_airport_id AS departureAirportId,
            a.boarding_gate AS boardingGate,
            a.price,
            a.departure_time AS departureTime,
            a.arrival_time AS arrivalTime,
            a.date,
            a.first_seat AS firstSeat,
            a.second_seat AS secondSeat,
            a.third_seat AS thirdSeat,
            a.duration,
            a.departure,
            a.arrival,
            dep.airport_name AS departureAirportName,
            arr.airport_name AS arrivalAirportName,
            dep.address AS departureAirportAddress,
            arr.address AS arrivalAirportAddress,
            dep.phone AS departureAirportPhone,
            arr.phone AS arrivalAirportPhone,
            FLOOR(a.price * 1.5) AS firstSeatPrice,
            FLOOR(a.price * 1.3) AS secondSeatPrice,
            FLOOR(a.price * 1.0) AS thirdSeatPrice
        FROM airline a
                 LEFT JOIN airport dep ON a.departure_airport_id = dep.airport_id
                 LEFT JOIN airport arr ON a.arrival_airport_id = arr.airport_id
            ${ew.customSqlSegment}
    </select>
</mapper>
