<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.airlineticket_idea.mapper.AirportUserMapper">

    <resultMap id="BaseResultMap" type="org.airlineticket_idea.pojo.AirportUser">
            <id property="userId" column="user_id" />
            <result property="phone" column="phone" />
            <result property="password" column="password" />
            <result property="userName" column="user_name" />
            <result property="airportId" column="airport_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,phone,password,user_name,airport_id
    </sql>
</mapper>
