<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.airlineticket_idea.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="org.airlineticket_idea.pojo.Order">
            <id property="orderId" column="order_id" />
            <result property="orderStat" column="order_stat" />
            <result property="spending" column="spending" />
            <result property="bookingTime" column="booking_time" />
            <result property="airlineId" column="airline_id" />
            <result property="seatId" column="seat_id" />
            <result property="seatType" column="seat_type" />
        <result property="customerId" column="customer_id"/>
        <result property="citizenId" column="citizen_id"/>
        <result property="citizenName" column="customer_name"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_stat,spending,booking_time,airline_id,
      seat_id,seat_type,customer_id,citizen_id,citizen_name
    </sql>
    <select id="selectOrderListWithPage" resultType="java.util.Map">
        SELECT
            o.order_id AS orderId,
            o.order_stat AS orderStat,
            o.spending,
            o.booking_time AS bookingTime,
            o.airline_id AS airlineId,
            o.seat_id AS seatId,
            o.seat_type AS seatType,
            o.customer_id AS customerId,
            o.citizen_id AS citizenId,
            o.citizen_name AS citizenName,

            a.airplane_id AS airplaneId,
            a.date,
            a.arrival,
            a.departure,
            a.departure_airport_id AS departureAirportId,
            a.arrival_airport_id AS arrivalAirportId,
            a.duration,
            a.boarding_gate AS boardingGate,
            a.price,
            a.third_seat AS thirdSeat,
            a.departure_time AS departureTime,
            a.first_seat AS firstSeat,
            a.second_seat AS secondSeat,
            a.arrival_time AS arrivalTime,

            dep.airport_name AS departureAirportName,
            arr.airport_name AS arrivalAirportName
        FROM `order` o
                 LEFT JOIN airline a ON o.airline_id = a.airline_id
                 LEFT JOIN airport dep ON a.departure_airport_id = dep.airport_id
                 LEFT JOIN airport arr ON a.arrival_airport_id = arr.airport_id
            ${ew.customSqlSegment}

    </select>

</mapper>
