<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.justworking.airlineticket_idea.mapper.AirlineMapper">

    <resultMap id="BaseResultMap" type="org.justworking.airlineticket_idea.pojo.Airline">
            <id property="airlineid" column="airlineId" />
            <result property="airplaneid" column="airplaneId" />
            <result property="arrivalairportid" column="arrivalAirportId" />
            <result property="departureairportid" column="departureAirportId" />
            <result property="boardinggate" column="boardingGate" />
            <result property="price" column="price" />
            <result property="departuretime" column="departureTime" />
            <result property="arrivaltime" column="arrivalTime" />
            <result property="date" column="date" />
            <result property="firstseat" column="firstSeat" />
            <result property="secondseat" column="secondSeat" />
            <result property="thirdseat" column="thirdSeat" />
            <result property="duration" column="duration" />
    </resultMap>

    <sql id="Base_Column_List">
        airlineId,airplaneId,arrivalAirportId,departureAirportId,boardingGate,price,
        departureTime,arrivalTime,date,firstSeat,secondSeat,
        thirdSeat,duration
    </sql>
</mapper>
